.popup__submit {
    font-family: 'Inter', Arial, sans-serif;
    font-size: 18px;
    line-height: 22px;
    font-style: normal;
    font-weight: 400;
    background-color: rgba(0, 0, 0, 1);
    box-sizing: border-box;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-top: 32px;
    border-style: none;
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    border-radius: 2px;
    padding: 0;
}

.popup__submit:hover {
    opacity: 80%;
    transition: 3s ease-in-out;
}

.popup__submit:active {
    opacity: 100%;
    border-color: rgba(0, 0, 0, 1);
}

@media screen and (max-width: 765px) {
    .popup__submit {
        height: 46px;
        margin-top: 17px;
        font-size: 14px;
        line-height: 17px;
    }
}