.profile__button-edit{
    background-image: url(../../../images/profile/Vectore.svg);
    border: 1px solid #ffffff;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 24px;
    padding: 0;
    background-color: rgba(28,28,28,0);
    transition: opacity 0.2s ease-in-out;
    width: 24px;
    margin-top: 15px;
}
.profile__button-edit:hover {
    opacity: 0.6;
  }
  
  @media screen and (max-width: 1023px) {
    .profile__button-edit {
      margin-bottom: 0;
      width: 18px;
      height: 18px;
      align-self: center;
      margin-top: -8px;
    }
  }