.cards__item-like {
    background-image: url(../../../images/like.svg);
    background-color: transparent;
    transition: 0.3s ease-in-out;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
    border: none;
    height: 19px;
    width: 22px;
    padding: 0;
}

.cards__item-like:hover {
    opacity: 0.5;
}
