.card__button-delet{
    background-image: url(../../../images/card/Trash.png);
    position: absolute;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    height: 19px;
    padding: 0;
    background-color: rgba(28,28,28,0);
    transition: opacity 0.2s ease-in-out;
    width: 18px;
    top: 20px;
    right: 20px;
}
.card__button-delet:hover {
    opacity: 0.6;
  }
  
  @media screen and (max-width: 1023px) {
    .card__button-delet {
      width: 18px;
      height: 18px;
      align-self: center;
    }
  }