.footer__copyright {
  font-style: normal;
  line-height: 22px;
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .footer__copyright {
    text-align: start;
  }
}

@media screen and (max-width: 490px) {
  .footer__copyright {
    line-height: 17px;
    font-size: 14px;
  }
}
