.cards__delete {
    background-color: transparent;
    transition: 0.3s ease-in-out;
    background-size: contain;
    position: absolute;
    cursor: pointer;
    border: none;
    height: 19px;
    width: 18px;
    right: 20px;
    top: 20px;
}
