.card__button_delete {
    position: absolute;
    right: -262px;
    top: -262px;
    height: 19px;
    width: 18px;
    border-style: none;
    box-sizing: border-box;
    cursor: pointer;
    background-repeat: no-repeat;
    background-color: transparent;
    z-index: 1;
}

.card__button_delete:hover {
    opacity: 50%;
    transition: 3s ease-in-out;
}