.cards{
    display: grid;
    grid-template: repeat(2, 361px) / repeat(3, 282px);
    gap: 20px 17px;
    justify-content: center;
    max-width: 880px;
    width: 100%;
    margin: 51px auto 67px auto;
    padding: 0;
    list-style-type: none;
}

@media screen and (max-width: 1023px) {
    .cards {
        grid-template: repeat(2, 361px) / repeat(1, 282px);
        gap: 20px 0;
        max-width: 282px;
        margin: 0 auto;
    }
  }