.popup {
    transition: visibility 0.7s, opacity 0.7s;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    visibility: hidden;
    overflow: hidden;
    position: fixed;
    display: flex;
    height: 100%;
    width: 100%;
    opacity: 0;
    left: 0;
    top: 0;
}
