.popup__input {
    border: none;
    margin: 0;
    padding: 0;
    padding: 0 0 13px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    max-width: 358px;
}

@media screen and (max-width: 767px) {
    .popup__input {
      padding-bottom: 9px;
    }
  }