.popupView__image{
    width: 816px;
    height: 540px;
}

@media screen and (max-width: 900px) {
    .popupView__image{
        width: 650px;
    }
}

@media screen and (max-width: 700px) {
    .popupView__image{
        width: 450px;
    }
}

@media screen and (max-width: 500px) {
    .popupView__image{
        width: 400px;
    }
}
@media screen and (max-width: 450px) {
    .popupView__image{
        width: 300px;
        height: 400px;
    }
}