.auth__container {
    position: relative;
    margin: 0 0 30px 0;
    padding: 0;
}
  
.auth__container:first-of-type {
    margin-top: 50px;
}
  
.auth__container:last-of-type {
    margin-bottom: 0;
}