.profile__title{
    font-family: 'Inter', 'Helvetica Neue', Arial, sans-serif;
    font-style: normal;
    font-size: 42px;
    line-height: 48px;
    font-weight: 500;
    color: #FFFFFF;
    padding: 0;
    margin: 0 18px 16px 0;
    align-items: flex-start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
}

@media screen and (max-width: 1023px) {
    .profile__title {
      font-size: 27px;
      line-height: 33px;
      text-align: center;
      margin: 0 10px 14px 46px;
      max-width: 189px;
    }
  }
  
