.header__info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 0px;   
    align-items: flex-end;
}

@media screen and (max-width: 550px) {
    .header__info {
        padding-right: 30px;
        flex-direction: column;
    }
}