.login__submit-button {
	padding: 0;
	margin: 186px 0 0 0;
	height: 50px;
	border: none;
	border-radius: 2px;
	background-color: white;
	width: 358px;
	font-family: 'Inter', Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	cursor: pointer;
}

.login__submit-button:hover {
	opacity: .85;
}

@media screen and (max-width: 359px) {
	.login__submit-button {
		width: 320px;
	}
	}